<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un personnage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Créer un personnage :</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/characters/addcharacter}"
      th:object="${characterForm}" method="POST">
    Nom:
    <input type="text" th:field="*{name}" />
    <div th:if="${errorMessageSameName}" th:utext="${errorMessageSameName}"
         style="color:red;font-style:italic;">
        ...
    </div>
    <div th:if="${errorMessageEmptyName}" th:utext="${errorMessageEmptyName}"
         style="color:red;font-style:italic;">
        ...
    </div>
    <br/>
    Type:
    <input type="text" th:field="*{type}" />
    <div th:if="${errorMessageEmptyType}" th:utext="${errorMessageEmptyType}"
         style="color:red;font-style:italic;">
        ...
    </div>
    <br/>
    Points de vie :
    <input type="text" th:field="*{lifepoints}" />
    <div th:if="${errorMessageEmptyLifepoints}" th:utext="${errorMessageEmptyLifepoints}"
         style="color:red;font-style:italic;">
        ...
    </div>
    <br/>
    <input type="submit" value="Créer" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->



</body>
</html>